{% extends 'base.html'%}

{% block content %}

<!-- Default form subscription -->

<div class="container">

<form class="text-center border border-light p-5 mt-3" action="#!">

    <p class="h4 mb-4">Subscribe</p>

    <p>Join our mailing list. Get notified of blogs as they are posted.</p>

    <p>
        <a href="/">See the latest blogs</a>
    </p>
    
    <!-- Email -->
    <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Sign in button -->
    <button class="btn btn-info btn-block" type="submit">Subscribe</button>


</form>
<!-- Default form subscription -->

    
</div>

{% endblock  %}